@page "/"
@rendermode InteractiveServer

@using FavoriteBooksApp.State
@inject ApplicationState applicationState

<style>
    body 
    {
        background-color: #c5aded;
    }

    .table-custom 
    { 
        --bs-table-bg: transparent !important; 
    }
</style>

<PageTitle>The Book Nook</PageTitle>

<Login></Login>

<div class="d-flex justify-content-center">
    <img src="Images/BookNook.png" />
</div>

<h2>See what's trending now</h2>

<table class="table table-custom"> 
    <thead>
        <tr>
            <th>  </th>
            <th> Title </th>
            <th> Author </th>
            <th> Total Favorites </th>
            <th> Favorited By </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Books)
        {
            <tr>
                <td> 
                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <img class="img-fluid" src="@($"Images/{book.ImageName}.jpg")" /> 
                        </div>
                    </div>
                </td>
                <td> @book.Title </td>
                <td> @book.Author </td>
                <td> @book.TotalFavorites </td>
                <td> @for(int i = 0; i < book.FavoritedBy.Count; i++)
                    {
                        // TODO: Simplify this logic
                        if(i == book.FavoritedBy.Count - 1)
                        {
                            <span> @book.FavoritedBy[i] </span>
                        }
                        else
                        {
                            <span> @book.FavoritedBy[i], </span> 
                            <br />
                        }
                    } 
                </td>
                <td>
                    <button class="btn btn-secondary" @onclick=@(() => Favorite(book.Id, applicationState.UserId))> Favorite </button>
                </td>
            </tr>
        }
    </tbody>
</table>


